<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mathsmodule" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Mathsmodule"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mathsmodule">
        <activity android:name=".NumberList"></activity>
        <activity android:name=".PlusList" />
        <activity android:name=".MinusList" />
        <activity android:name=".imop" />
        <activity android:name=".counts" />
        <activity android:name=".tab" />
        <activity android:name=".maths" />
        <activity android:name=".mathop" />
        <activity android:name=".divActivity" />
        <activity android:name=".mulActivity" />
        <activity android:name=".subActivity" />
        <activity android:name=".addActivity" />
        <activity android:name=".MemoryGame"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>


</manifest>