<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mathsmodule">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Child Learning App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mathsmodule">
        <activity android:name=".shapedetection.views.shape"/>
        <activity android:name=".english_module.english_alphabetimg" />
        <activity android:name=".english_module.english_alphabet" />
        <activity android:name=".english_module.englishmusic" />

        <provider
            android:name=".drawingtest.domain.provider.GenericFileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:ignore="WrongManifestParent">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <activity android:name=".englishop" />
        <activity android:name=".drawing" />
        <activity android:name=".NumberList" />
        <activity android:name=".PlusList" />
        <activity android:name=".MinusList" />
        <activity android:name=".imop" />
        <activity android:name=".counts" />
        <activity android:name=".tab" />
        <activity android:name=".maths" />
        <activity android:name=".mathop" />
        <activity android:name=".divActivity" />
        <activity android:name=".mulActivity" />
        <activity android:name=".subActivity" />
        <activity android:name=".addActivity" />
        <activity
            android:name=".MemoryGame"
            android:label="@string/app_name"
            android:screenOrientation="landscape" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>